# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'clean package'
- task: Docker@2
  inputs:
    command: 'login'
    containerRegistry: 'Connect to demo container registry'
   
- task: Docker@2
  inputs:
    containerRegistry: 'Connect to demo container registry'
    repository: 'sudhaacrrepo.azurecr.io'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
- task: Docker@2
  displayName: Push Docker Image to ACR
  inputs:
    command: push
    tags: |
      sudhaacrrepo.azurecr.io/javaapp:latest
stages:
- stage: Deploy
  displayName: Deploy to Azure Container Apps
  jobs:
  - job: Deploy
    steps:
    - script: |
        az login --service-principal -u $(azureClientId) -p $(azureClientSecret) --tenant $(azureTenantId)
      displayName: Azure CLI Login

    - script: |
        az containerapp create \
          --name $(imageName) \
          --resource-group $(resourceGroupName) \
          --environment $(containerAppEnv) \
          --image $(containerRegistry)/$(imageName):$(tag) \
          --target-port 8080 \
          --ingress external \
          --cpu 0.5 \
          --memory 1Gi \
          --min-replicas 1 \
          --max-replicas 5
      displayName: Deploy Container App